@import '../components/character-card.scss';
@import '../components/modal.scss';
@import '../components/loader.scss';
@import '../components/pagination.scss';

html, body{
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

body {
    --header-height: 35vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.page-wrapper{
    width: 100%;
    height: 100%;

    .hero{
        height: var(--header-height);
        background-image: url("/images/pickle-rick.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 85%;
        
        &-logo{
            width: 35px;
            height: 42px;
            padding: 15px 0 0 15px;
        }

        &-content{
            height: calc(80%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h1{
                margin: 0;
            }
        }
    }

    .characters-container{
        min-height: calc(100% - var(--header-height));
        background-image: url("/images/characters-area-background.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #03B0C8;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // padding: 16px;

        .grid{
            --n:5; /* the max number of columns */
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(calc(max(250px,100%/var(--n))),1fr));
            // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            // grid-auto-columns: 20%;
            
            padding: 16px;
            justify-items: center;
        }

        &.loading{
            .loader{
                display: block;
            }

            .grid{
                display: none;
            }

            .pagination{
                display: none;
            }
        }
    }
}