@import '../components/hero.scss';
@import '../components/characters-container.scss';
@import '../components/character-card.scss';
@import '../components/character-status.scss';
@import '../components/modal.scss';
@import '../components/loader.scss';
@import '../components/pagination.scss';

html, body{
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

body {
    --header-height: 35vh;
    --hover-color: lime;

    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.page-wrapper{
    width: 100%;
    height: 100%;
}