.status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;

    &-alive{
        @extend .status;
        background-color: green;
    }

    &-dead{
        @extend .status;
        background-color: red;
    }

    &-unknown{
        @extend .status;
        background-color: grey;
    }

}