.character-card{
    min-width: 230px;
    max-width: 230px;
    max-height: 120px;
    background-color: white;
    padding: 12px;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;

    &:hover{
        box-shadow: 0 0 5px 1px var(--hover-color);
        border-color: var(--hover-color);
    }

    img{
        width: 60px;
        height: 60px;
        margin-right: 12px;
        border-radius: 4px;
    }

    .details{
        display: flex;
        flex-direction: column;

        .title{
            font-weight: 700;
        }
    
        .info{
            font-weight: 400;
            font-size: 12px;
            margin-top: 5px;
        }
    }

}