.hero{
    height: var(--header-height);
    background-image: url("/images/pickle-rick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 85%;
    position: relative;
    
    &-logo{
        width: 35px;
        height: 42px;
        padding: 15px;

        &:hover {
            box-shadow: inset 0 0 20px 1px var(--hover-color);
            border-color: var(--hover-color);
        }
    }

    &-info{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 20px;
        right: 20px;
    }

    &-content{
        height: calc(80%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1{
            margin: 0;
        }
    }
}