#modal{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(128, 128, 128, 0.5);
    display: none;

    &.opened{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .modal-inner{
        min-width: 300px;
        max-width: 450px;
        background-color: white;
        position: relative;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        width: 28px;
        top: 0;
        right: 0;
        text-align: center;
    }

    .modal-content {
        text-align: center;
        
        .character{
            padding: 16px 16px 8px;
    
            img {
                width: 143px;
                height: 143px;
            }
        }

        .character-info{
            padding: 8px 16px 16px;
            background: #03B0C8;
            color: #fff;

            span.icon{
                background-color: #fff;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                width: 24px;
                height: 24px;

                &-male{
                    @extend span.icon;
                    background-image: url("/images/mars-solid.svg");
                }
                
                &-female{
                    @extend span.icon;
                    background-image: url("/images/venus-solid.svg");
                }
            }

            p:last-child{
                margin-bottom: 0;
            }
        }
    }
}