.character-card {
  width: 230px;
  max-height: 100px;
  background-color: white;
  padding: 12px;
  display: flex;
  border-radius: 4px;
  cursor: pointer; }
  .character-card img {
    width: 60px;
    height: 60px;
    padding-right: 12px; }
  .character-card .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .character-card .details .title {
      font-weight: 700; }
    .character-card .details .info {
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 10px; }
    .character-card .details .status, .character-card .details .status-alive, .character-card .details .status-dead, .character-card .details .status-unknown {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 3px; }
      .character-card .details .status-alive {
        background-color: green; }
      .character-card .details .status-dead {
        background-color: red; }
      .character-card .details .status-unknown {
        background-color: grey; }
